.askme {
  padding: 3rem;
  background-image: url("../../img/background-askme.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 0 auto;

    background-color: var(--bg-color);

    max-width: 50ch;
    padding: 2rem;

    label {
      position: relative;
      width: 100%;
      padding: 1rem;
      margin-block-end: 0.5rem;

      background-color: var(--input-color);
    }

    span {
      text-align: left;
      position: absolute;
      inset: 0;
      margin: 1.2rem;

      user-select: none;

      opacity: 0.3;
    }

    input {
      height: 100%;
      width: 100%;
      background-color: var(--input-color);
      border: none;
      outline: none;

      font-size: var(--fs-1);
    }

    .btn {
      width: 100%;

      margin-block-start: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  // Mobile
  .askme {
    padding-inline: 0;
  }
}
